
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.display{
    display: flex;
}

.text-gray{
  color: #424242;
}

.text-light-gray{
    color: #727272;
}

.btn-primary{
    background-color: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 20px 25px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section {
    margin-top: 130px;
}


/* header style */

/* navbar style */
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}

.brand{
    font-size: 3rem;
    font-weight: bold;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500px;
    font-size: 18px;
    line-height: 26px;
}

.banner-container{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    font-weight: bold;
}

.banner-img{
    max-width: 100%;
}

.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.features{
    margin-left: 130px;
    max-width: 530px;
}

.features-title{
    font-size: 2.75rem;
    font-weight: bold;

}

    .fact-card{
        border: 1px solid #FF900E;
        width: 240px;
        height: 240px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* text-align: center; */
    }

    .fact-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 100px;
    }

    .fact-info{
        text-align: center;
    }

    .fact-number{
        font-size: 2.75rem;
        font-weight: 600;
        margin: 10px auto 5px;
    }

    .fact-name{
        font-size: 1.25rem;
        font-weight: 600;
        margin: 0 auto;  
        color: #727272;      
    }

    .fact-description{
        max-width: 540px;
    }






/* responsive section*/

@media screen and (max-width:576px) {
    .display{
        flex-direction: column;
    }

    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    
    .features{
        margin-left: 10px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px){
    .teams{
        flex-direction: column;
    }

    .features{
        margin: 20px auto;
    }


}